@{
   
}

<div>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.kilithg.com/networks/1/properties/2/rooms/14/20230210071935433_org.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Royal Suite Room</h5>
                    <p>En güzel odamız burası</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://static.kilithg.com/networks/1/properties/2/rooms/17/20230811070229922_org.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>King Royal Suite Room</h5>
                    <p>Krallar Gibi Bir Tatil İçin</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://static.kilithg.com/networks/1/properties/2/rooms/14/20230210071935433_org.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Superior Room</h5>
                    <p>Süper Odamız</p>
                </div>
            </div>
        </div>
        <br />
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
              
    <section data-v-07117899="" data-v-ba534e60="" id="twoImageContent" class="bg-light"><div data-v-07117899="" class="container"><div data-v-07117899="" class="row"><div data-v-07117899="" class="col-lg-5 col-sm-6"><div data-v-07117899="" class="title title-left">BEVERAGE</div> <div data-v-07117899="" class="left"><div data-v-07117899="" class="subtitle"></div> <div data-v-07117899="" class="text"><p>Uzman miksologların imzasını taşıyan kokteyllerimizi ve seçkin markalara ait özel seri koleksiyonlarımızı ışıltılı bar konseptlerimizle keşfedin. Modunuza en uygun içeceği eşsiz alternatifler arasından seçin.</p></div> <span data-v-07117899="" class="btn-in-border"><a data-v-07117899="" href="/oteller/nirvana-cosmopolitan/gastronomi" class="btn btn-dark rounded-0">KEŞFET</a></span> <a data-v-07117899="" href="/oteller/nirvana-cosmopolitan/gastronomi" class=""><img data-v-07117899="" src="https://static.kilithg.com/networks/1/properties/1/multimedia/20230214173340659_org.png" alt="BEVERAGE"></a></div></div> <div data-v-07117899="" class="col-lg-7 col-sm-6"><div data-v-07117899="" class="right"><a data-v-07117899="" href="/oteller/nirvana-cosmopolitan/gastronomi" class=""><img data-v-07117899="" src="https://static.kilithg.com/networks/1/properties/2/multimedia/20230428174226259_org.png" alt="DINING"></a> <div data-v-07117899="" class="title title-right">DINING</div> <div data-v-07117899="" class="text"><p>Sizlere sunduğumuz her lezzet bizim için önemlidir. Gıda ürünlerini, mevsimine göre ürün tedarik etme modelimiz ile orijinal yerel bölgelerine sadık kalarak seçiyoruz. Yöresel &amp; Sağlıklı Yiyecekler konseptimiz ile kaliteli pişirme yöntemlerini buluşturarak gastronomi deneyiminizde fark yaratıyoruz.&nbsp;</p></div> <span data-v-07117899="" class="btn-in-border"><a data-v-07117899="" href="/oteller/nirvana-cosmopolitan/gastronomi" class="btn btn-dark rounded-0">KEŞFET</a></span></div></div></div></div></section>
    <br />
    <div>

        <div class="row row-cols-3 g-3">
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
                         alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
                         alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                         alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/046.webp" class="card-img-top"
                         alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/050.webp" class="card-img-top"
                         alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
