<form asp-controller="ANK16" asp-action="Login">
    <input type="text" id="name" name="name" placeholder="Adınızı giriniz" />
    <input type="text" id="surname" name="surname" placeholder="Soyadınızı Giriniz" />
    <input type="text" id="age" name="age" placeholder="Yaşınızı Giriniz" />
    <input type="submit" id="giris" name="giris" />

</form>